* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container3 {
  padding: 98px 80px 80px;
  background: #edf1f8;
}
.container3 h1 {
  color: var(--black, #221e1e);
  text-align: center;
  font-family: Inter;
  font-size: 42px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 54px;
}
.container3 .box {
  display: flex;
}
.container3 .box ul {
  padding: 20px;
  width: 484px;
  border-radius: 23px;
  background: #fff;
}
.container3 .box ul li {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
}
.container3 .box ul li h2 {
  color: var(--black, #221E1E);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.container3 .box ul li p {
  color: var(--black, #221E1E);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  text-transform: capitalize;
}